@model BaseModel
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Metrô Agora</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="~/Assets/Styles/bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/Styles/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Assets/Styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/Styles/common.css" rel="stylesheet" />
    @RenderSection("Style", required: false)

    
    <!--[if lt IE 9]>
        <script src="~/Assets/Scripts/html5shiv.min.js"></script>
        <script src="~/Assets/Scripts/respond.min.js"></script>
    <![endif]-->

    <script src="~/Assets/Scripts/jquery.min.js"></script>
    <script src="~/Assets/Scripts/bootstrap.min.js"></script>
    <script src="~/Assets/Scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <header>
        @Html.Partial("Header")
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
        <div class="push"></div>
    </main>
    <footer>
        @RenderSection("BotaoFooter", false)
        @Html.Partial("Footer")
    </footer>
    @RenderSection("Script", required: false)
</body>
</html>