@model UsersChangePasswordModel
<h1>
    Alterar senha
</h1>

@using (Html.BeginForm())
{
    <ul class="list-unstyled">

        <li class="form-group">
            @Html.ResourceLabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Digite sua nova senha", type = "password" })
            @Html.ValidationMessageFor(m => m.Password)
        </li>
        <li class="form-group">
            @Html.ResourceLabelFor(m => m.RetypePassword)
            @Html.PasswordFor(m => m.RetypePassword, new { @class = "form-control", placeholder = "Repita a sua senha", type = "password" })
            @Html.ValidationMessageFor(m => m.RetypePassword)
        </li>
    </ul>
    <p class="text-right">
        <button class='btn btn-primary' type="submit">
            <i class="fa  fa-edit"></i>
            Alterar
        </button>
    </p>
}
