@model UsersCreateModel
@{
    ViewBag.Title = "Create";
}

@section Script {
    <script src="~/Assets/Scripts/cadastro.js"></script>
}

@section BotaoFooter {
    <a href="@Url.Action("Index", "Home")" title="Voltar para Linhas" class="pull-left btn btn-default"><i class="fa fa-chevron-left"></i> Linhas</a>
}

<h1>
    Cadastro
    <small>Para poder registrar ocorrências você precisa criar um usuário, preenchendo os campos abaixo</small>
</h1>

@using (Html.BeginForm())
{
    <ul class="list-unstyled">
        <li class="form-group">
            @Html.LabelFor(m => m.Nome)
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", required = "" })
        </li>
        <li class="form-group ">
            @Html.LabelFor(m => m.Username, "E-mail")
            @Html.TextBoxFor(m => m.Username,  new { @class = "form-control", required = "" })
        </li>
        <li class="form-group ">
            @Html.LabelFor(m => m.Password, "Senha")
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type="password", required = "" })
        </li>
        <li class="form-group">
            <label for="confirm_password">Confirme sua senha</label>
            <input type="password" id="confirm_password" required class="form-control">
        </li>
    </ul>
    <div class="clearfix">
        <p class="pull-left">
            @Html.ActionLink("Login", "Login")
        </p>
        <p class="pull-right">
            <button class='btn btn-primary' type="submit">
                <i class="fa  fa-plus-circle"></i>
                Cadastrar
            </button>
        </p>
    </div>
   
}


