@model UsersForgotPasswordModel

@section BotaoFooter {
    <a href="@Url.Action("Index", "Home")" title="Voltar para Linhas" class="pull-left btn btn-default"><i class="fa fa-chevron-left"></i> Linhas</a>
}


<h1>
    Esqueci minha senha
    <small>Eviaremos um link para que você cadastre uma nova senha</small>
</h1>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm", novalidate = "novalidate" }))
{
    if (!ViewData.ModelState.IsValid)
    {
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger ">
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    }


        <ul class="list-unstyled">
            <li class="form-group">
                @Html.ResourceLabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Digite seu e-mail", type = "email" })
                @Html.ValidationMessageFor(m => m.Username)
            </li>
        </ul>
                    
        <p class="text-right">
            <button class='btn btn-primary' type="submit">
                <i class="fa fa-send"></i>
                Enviar
            </button>
        </p>
}

