@model UsersLoginModel

@section Style{
    <link rel="stylesheet" type="text/css" href="~/Assets/Styles/Login/login.css" />
}

<h1>
    Login
    <small>Para poder registrar ocorrências você precisa estar logado</small>
</h1>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainForm", novalidate = "novalidate" }))
{
    @Html.HiddenFor(m => m.BackTo)
    
    if (!ViewData.ModelState.IsValid)
    {
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-danger ">
                    @Html.ValidationSummary(true)
                </div>
            </div>
        </div>
    }

    <ul class="list-unstyled">
        <li class="form-group">
            @Html.ResourceLabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", type = "email" })
            @Html.ValidationMessageFor(m => m.Username)
        </li>
        <li class="form-group">
            @Html.ResourceLabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password" })
            @Html.ValidationMessageFor(m => m.Password)
        </li>
    </ul>
    <div class="clearfix">
        <p class="pull-left">
            @Html.ActionLink(Common.ForgotPassword, "ForgotPassword") ou @Html.ActionLink("Cadastre-se", "Create")
        </p>
        <p class="pull-right">
            <button class='btn btn-primary' type="submit">
                <i class="fa fa-user"></i>
                Entrar
            </button>
        </p>
    </div>
    

            
}


