@model LineModel
@{
    ViewBag.Title = "Index";
}

@section Style {
    <link href="~/Assets/Styles/linha.css" rel="stylesheet" />
}

@section BotaoFooter {
    <a href="@Url.Action("Index", "Line")" title="Voltar para Linhas" class="pull-left btn btn-default"><i class="fa fa-chevron-left"></i> Linhas</a>
}




<h1>
    @Model.Line.Name
    <small>Selecione uma estação para visualizar as ocorrências</small>
</h1>

<ul class="linha">
    @foreach (var station in Model.StationAndStatus)
    {
        var estacao = station.Key;
        var numeroDeOcorrencias = station.Value;
        var statusDaEstacao = numeroDeOcorrencias < 5 ? "Normal" : numeroDeOcorrencias < 10 ? "Com problemas" : "Ruim";

        var classeStatus = statusDaEstacao.ToLower().Replace(" ", "");

        <li>
            <a href="@Url.Action("Index", "Station", new { id = estacao.ID })">@estacao.Name</a>
            <small class="@classeStatus"><i class="glyphicon glyphicon-remove-sign"></i> @statusDaEstacao</small>
        </li>

    }
</ul>